@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Merriweather+Sans:wght@300;400&family=Quicksand&family=Sacramento&display=swap');

/*
    font-family: 'Lato', sans-serif;

    font-family: 'Merriweather Sans', sans-serif;

    font-family: 'Sacramento', cursive;

    font-family: 'Quicksand', sans-serif;
*/

:root {
    
    --rosa-claro: rgb(255, 222, 211);
    --cinza: #666666;
    --azul: #2D394B;
    --azul-escuro: #121D2D;
    --marrom: #927F79;
    --branco: #ffffff;

}

#header {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 12rem;
    padding: 2.2rem;
}

#logo {
    font-size: clamp(2.5rem, 10vw, 5.4rem);
    font-family: 'Sacramento', cursive;
    font-weight: 400;
    text-align: center;
    height: 50px;
}

#sub_logo {
    font-size: clamp(1rem, 4vw, 1.9rem);
    padding-top: 0.3rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    text-align: center;
}

.color_link {
    color: var(--azul-escuro);
}

#main {
    display: flex;
    justify-content: space-between;
    height: 54.4rem;
    padding-left: 8rem;
    background-color: #F7F7FC;
}

#main_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.titulo {
    font-size: clamp(2.3rem, 5vw, 4rem);
    color: var(--azul);
    letter-spacing: 0.3rem;
    font-weight: 400;
}

.titulo_main {
    padding: 2.4rem 0rem;
}

.linha {
    size: 5;
    color: var(--rosa-claro);
}

.texto {
    font-size: clamp(1.3rem, 4vw, 1.8rem);
    color: var(--cinza);
    width: 80%;
    line-height: 2.7rem;
    letter-spacing: 0.1em;
    padding-top: 2rem;
}

.img_main {
    position: absolute;
    top: 16.3rem;
    right: 9em;
}

.bg {
    padding-top: 2.7rem;
}

#saiba_mais {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#saiba_right {
    display: block;
    width: 35%;
}

.saiba {
    text-align: center;
    padding-bottom: 2.4rem;
}

.sub {
    font-size: clamp(1.8rem, 5vw, 2.2rem);
    color: var(--azul);
    font-weight: 400;
    letter-spacing: 0.2em;
    padding: 1rem 0rem;
    line-height: 3rem;
}

.texto_about {
    font-size: 1.6rem;
    line-height: 3rem;
    padding: 2.4rem 0rem 4rem 0rem;
    width: 100%;
}

.btn {
    font-size: clamp(1.1rem, 4vw, 1.5rem);
    color: var(--azul-escuro);
    border: 2px solid var(--rosa-claro);
    border-radius: 0.7rem;
    padding: 1.2rem 2.5rem;
    transition: 0.5s;
    font-weight: 700;
    letter-spacing: .3em;
}

.btn:hover {
    background-color: var(--rosa-claro);
    transition: 0.5s;
}

.foto_about {
    margin: 8rem 3rem;
    height: auto;
    -webkit-box-shadow: -30px 30px 0px -2px #FFDED3; 
    box-shadow: -30px 30px 0px -2px #FFDED3;
    transition: 0.5s;
}

.foto_about:hover {
    -webkit-box-shadow: -15px 15px 0px -2px #FFDED3; 
    box-shadow: -15px 15px 0px -2px #FFDED3;
    transition: 0.5s;
}

#servicos {
    background-color: #F7F7FC;
    margin: auto;
    padding: 0rem 2rem 4rem 2rem;
    background-image: url(../imagens/SVG/wickedbackground.svg);
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.serv_title {
    text-align: center;
    padding: 4rem;
    font-weight: 400;
}

.box_descricao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: var(--azul);
    font-size: 2rem;
    background-color: var(--branco);
    padding: 2.2rem 2.5rem 2.2rem 2rem;
    width: 80%;
    border-radius: 10px;
    margin: 2rem auto;
    margin-bottom: 0.5rem;
    transition: .9s;
    cursor: pointer;   
}

.descricao {
    font-size: clamp(0.9rem, 4vw, 1.7rem);
    color: var(--azul-escuro);
    font-weight: 700;
}

.box_descricao:hover {
    -webkit-box-shadow: 7px 7px 15px -2px rgba(102,102,102,0.5); 
    box-shadow: 7px 7px 15px -2px rgba(102,102,102,0.5); 
    background-color: var(--branco);
    transition: .3s;
}

.icon {
    width: 20px;
    filter: invert(9%) sepia(7%) saturate(4393%) hue-rotate(177deg) brightness(100%) contrast(95%);
}

.svg_desc {
    filter: invert(54%) sepia(8%) saturate(677%) hue-rotate(328deg) brightness(93%) contrast(86%);
    cursor: pointer;
    transform: rotate(0);
    transition: .5s;
}

.seta {
    transform: rotate(180deg);
}

.imagens {
    width: 23px;
    filter: invert(9%) sepia(7%) saturate(4393%) hue-rotate(177deg) brightness(100%) contrast(95%);
}

.details {
    display: none;
    margin-top: 0rem;
}

.lista_item {
    transform: translateX(1rem);
}

.myClass {
    display: block;
    color: var(--azul);
    font-size: 1.6rem;
    background-color: var(--branco);
    padding: 2.2rem 2.5rem 2.2rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: none;
}

.details > li:not(:last-child) {
    padding-bottom: 2rem;
}

#contatos {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#contatos_left {
    border-right: 1px solid rgba(102, 102, 102, 0.205);
}

.contatos_size {
    width: 50%;
    padding: 2rem;
}

.fale {
    padding-bottom: 1rem;
}

.info {
    display: flex;
    align-items: center;
    padding: 1.7rem;
    padding-left: 0rem;
}

.info_texto {
    padding: 0rem .7rem;
    padding-bottom: 0.2rem;
    font-size: 1.8rem;
    color: var(--cinza);
}

.social {
    width: 150px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.social:hover {
    transform: translateX(1rem);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rosa-claro);
    padding: 1rem;
    color:var(--cinza);
}

.footer_info {
    display: flex;
}

.estilo {
    margin-right: 1rem;
}

.social_dev {
    width: 17px;
    -webkit-transition: .2s;
    transition: .2s;
}

.social_dev:hover {
    transform: scale(1.2);
    -webkit-transition: .2s;
    transition: .2s
}

/* Media Queries */

@media only screen and (max-width: 900px) {
    .foto_about {
       width: 85%;
    }
}

@media only screen and (max-width: 812px) {

    #saiba_mais {
        display: block;
    }

    #saiba_right {
        margin: auto;
        width: 80%;
        padding-bottom: 5rem;
    }

    .foto_about {
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 4rem;
        width: 45%;
    }
}

@media (max-width: 780px) {

    #main, #saiba_mais {
        display: block;
        padding: 0rem 1.2rem 3rem 1.2rem;
        height: auto;
    }

    #main_left, #saiba_mais {
        width: 100%;
    }

    #main_left {
        width: 100%;
        margin: auto;
    }

    #main_right {
        display: none;
        width: 100%;
    }

    #saiba_right {
        margin: auto;
        padding-bottom: 5rem;
        width: 80%;
    }

    .foto_about {
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 4rem;
        width: 40%;
    }

    .box_descricao {
        padding: 1.8rem 2.3rem 1.8rem 1.5rem;
        width: 90%;
        margin: 1.4rem auto;
    }
}

@media only screen and (max-width: 714px) {
    #footer {
        display: block;
        text-align: center;
    }

    .footer_info {
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {

    #saiba_mais {
        padding: 2rem 0rem;
    }

    #saiba_left {
        display: none;
    }

    #contatos {
        display: block;
    }

    .contatos_size {
        width: 90%;
    }

    #contatos_left {
        border: none;
        border-bottom: 1px solid rgba(102, 102, 102, 0.205);
    }
}

@media only screen and (max-width: 414px) {

    #main {
        padding-bottom: 3rem;
    }

    .btn {
        padding: 1rem 2.2rem;
    }

    .box_descricao {
        width: 98%;
        padding: 1.6rem 2.1rem 1.6rem 1.2rem;
        margin: 1.4rem auto;
    }

    .serv_title {
        padding: 2.5rem;
    }

}

/*Animação*/

[data-anime] {
    opacity: 0;
    transition: .5s;
}

[data-anime="left"] {
    transform: translate3d(-70px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(70px, 0, 0);
}

[data-anime="top"] {
    transform: translate3d(0, -70px, 0);
}

[data-anime].animado {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* page sobre */

#sobre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 3rem;
    background-image: url(../imagens/images/bg-sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#foto {
    width: 40%;
}

#foto_perfil {
    border-radius: 100%;
    -webkit-transition: 0.5s;
    transition: 0.2s;
}

#foto_perfil:hover {
    transform: scale(1.01);
    -webkit-transition: 0.5s;
    transition: 0.2s;
}

#bio {
    width: 55%;
}

#bio > .texto {
    width: 100%;
    margin: auto;
}

#btn_sobre {
    margin-top: 5rem;
    background-color: var(--rosa-claro);
    transition: 0.5s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

#btn_sobre:hover {
    color: var(--rosa-claro);
    background-color: var(--azul);
    transition: 0.5s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    border: 1px solid var(--azul);
}
.sobre {
    padding-top: 1rem;
}

@media only screen and (max-width: 800px) {

    #sobre {
        display: block;
    }

    #foto {
        width: 50%;
        margin: auto;
    }

    #bio {
        width: 90%;
        margin: auto;
    }
}